body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header-section {
  background-color: #fff;
}
.logo-studio {
  color: #2e2f42;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}
.address-section {
  font-style: normal;
}
.contacts-info {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}
.main-section {
  background-color: #2e2f42;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}
.order-service-button {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}
.our-ways-section {
  background-color: #fff;
}
.section-item-header {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.section-item-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.team-section {
  background-color: #f4f4fd;
}
.team-image-card {
  background-color: #ffffff;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
